.table-wrapper {
	margin: 1.75rem auto;
	padding: 1rem;
	background-color: var(--white);
	border-radius: 5px;
	border: 1px solid var(--light-gray);
	width: 90%;
	overflow-x: auto;
}

.table-wrapper--empty {
	overflow-x: auto;
}

.table {
	margin: 0 auto;
	text-align: center;
	width: 100%;
	padding:  .5rem;
	border-spacing: 0;
}

.table-wrapper p {
	text-align: center;
	background-color: var(--lighter-gray);
	padding: .5rem 1rem;
	border-radius: 5px;
	border:  1px solid var(--light-gray);
	font-size: .75rem;
	color: var(--light-gray);
}

.table__header {
	background-color: var(--lighter-gray);
	border-radius: 15px;
}

.table__header tr {
	border-radius: 5px;
}

.table__header tr th > i {
	margin-left: .5rem;
}

.table__header th:last-child {
	text-align: left;
}

.table__header tr th, 
.table__body tr td {
	padding: .5rem;
	font-size: .75rem;
}

.table__body tr:nth-child(even) {
	background-color: var(--lighter-gray);
}
