:root {
  --primary-color: #e63020;
  --lime-green: #25d366;
  --bg-color: #f2f3f7;
  --footer-results-bg-color: #fdeae8;
  --white: #ffffff;
  --light-gray: #c5cbda;
  --lighter-gray: #f2f3f7;
  --font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

ul {
  list-style: none;
  padding: 0;
}

body,
button,
input,
textarea,
select {
  font-family: var(--font-family);
}
